[client]
port=3306
socket=/data1/mysqldata/3306/mysql.sock

[mysqld]
ddl_execute_by_ctl=off
default-storage-engine=innodb
# skip-name-resolve
performance_schema=OFF
log_slow_admin_statements=ON
alter_query_log=ON
query_response_time_stats=ON
innodb_flush_method=O_DIRECT
slow_query_log=1
core-file
datadir=/data1/mysqldata/3306/data
character-set-server=utf8mb4
innodb_buffer_pool_size=120M
innodb_data_file_path=ibdata1:256M:autoextend
innodb_data_home_dir=/data1/mysqldata/3306/innodb/data
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
innodb_log_files_in_group=4
innodb_log_group_home_dir=/data1/mysqldata/3306/innodb/log
log_bin_trust_function_creators=1
slow_query_log_file=/data1/mysqldata/3306/slow-query.log
port=3306
skip-external-locking
skip-symbolic-links
socket=/data1/mysqldata/3306/mysql.sock
spider_bgs_mode=1
spider_get_sts_or_crd=1
spider_index_hint_pushdown=1
tmpdir=/data1/mysqldata/3306/tmp
sql_mode=''

spider_auto_increment_mode_switch=1
spider_auto_increment_mode_value=1
spider_auto_increment_step=37

[mysql]
default-character-set=utf8mb4
no-auto-rehash
port=3306
socket=/data1/mysqldata/3306/mysql.sock
