[client]
port=3306
socket=/data1/mysqldata/3306/mysql.sock

[mysqld]
default-storage-engine=innodb
#skip-name-resolve
character-set-server=utf8mb4
innodb_buffer_pool_size=512M
innodb_file_per_table=1
innodb_lock_wait_timeout=50
innodb_log_buffer_size=256M
innodb_log_file_size=128M
innodb_log_files_in_group=4
datadir=/data1/mysqldata/3306/data
innodb_data_home_dir=/data1/mysqldata/3306/innodb/data
innodb_log_group_home_dir=/data1/mysqldata/3306/innodb/log
slow_query_log_file=/data1/mysqldata/3306/slow-query.log
tmpdir=/data1/mysqldata/3306/tmp
relay_log=/data1/mysqldata/3306/relay-log/relay-log.bin

port=3306
server_id=1000
skip-external-locking
socket=/data1/mysqldata/3306/mysql.sock
wait_timeout=86400

#sync_binlog=1
log_bin=/data1/mysqldata/3306/binlog/mysql-bin
binlog_format=row
expire_logs_days=3
max_binlog_size=1024M
binlog-checksum=NONE

#master-info-repository=table
#relay-log-info-repository=table
#relay-log-recovery=ON

gtid-mode = ON
enforce-gtid-consistency = ON
log-slave-updates = ON

innodb_flush_log_at_trx_commit=0
character-set-server=utf8mb4
max_connections=5000

[mysql]
default-character-set=utf8mb4
port=3306
socket=/data1/mysqldata/3306/mysql.sock
